@page "/login"
@using BlazorGuiServer.Data.Management.Services
@using FluentResults

<h3>Login</h3>

@inject LoginManagerService LoginManagerService


<input @bind="@Username"/>
<input @bind="@Password"/>

<button @onclick="@TryLogin">Login</button>

<p>@DisplayText</p>

@code {
    protected string? Username;
    protected string? Password;
    protected string? DisplayText;
    private void TryLogin()
    {
        Result loginResult = LoginManagerService.TryLogin(this.Username, this.Password);
        if (loginResult.IsFailed)
        {
            ShowNotValidLogin(loginResult.Errors.First().Message);
            return;
        }
        ShowLoginSuccessful();
    }

    private void ShowLoginSuccessful(string text = "Welcome User")
    {
        this.DisplayText = text;

        StateHasChanged();
    }

    private void ShowNotValidLogin(string text = "Password/Username is not valid")
    {
        this.DisplayText = text;

        StateHasChanged();
    }
}
