@page "/rsaReceiver"
@using BlazorGuiServer.Data.Services
@using System.Text

@inject RsaReceiverService RsaReceiverService
<button @onclick="@GenerateRasKey">
    test
</button>

<br/>


<br/>

<p>@xml</p>

<br />

<button @onclick="@DecryptEncryptedText">
    Decrypt
</button>
<input @bind="EncryptedText"/>
<p>@Encoding.UTF8.GetString(DecryptedText)</p>

@code{
    protected byte[] RsaPrivateKey = Array.Empty<byte>();
    protected byte[] RsaPublicKey = Array.Empty<byte>();

    protected string xml = "";

    protected string EncryptedText = "";
    protected byte[] DecryptedText = Array.Empty<byte>();


    protected void GenerateRasKey()
    {
        xml = RsaReceiverService.GenerateRasKey().Value;


        StateHasChanged();
    }
    protected void DecryptEncryptedText()
    {
        DecryptedText = RsaReceiverService.DecryptEncryptedString(System.Convert.FromBase64String(EncryptedText), xml).Value;


        StateHasChanged();
    }
}
