@page "/rsaSender"
@using BlazorGuiServer.Data.Services
@using System.Text

@inject RsaSenderService RsaSenderService

<button @onclick="@EncryptUsingPublicKey">
    test
</button>

<br/>

<input @bind="RsaPublicKey"/>

<br/>
<input @bind="TextToEncrypt"/>

<br/>

<p>@Convert.ToBase64String(EncryptedBytes)</p>

@code{
    protected string RsaPublicKey = "";
    protected string TextToEncrypt = "";
    protected byte[] EncryptedBytes = Array.Empty<byte>();

    protected void EncryptUsingPublicKey()
    {
        EncryptedBytes = RsaSenderService.EncryptUsingRsaPublicKey(RsaPublicKey, TextToEncrypt).Value;

        StateHasChanged();
    }
}