@page "/signup"
@using BlazorGuiServer.Data.Management.Services

<h3>SignUp</h3>

@inject LoginManagerService LoginManagerService


<input @bind="@Username" placeholder="Username"/>
<input @bind="@Password" placeholder="Password"/>
<input @bind="@Email" placeholder="Email"/>

<button @onclick="@SignUpNewUser">Sign Up</button>

@code {
    protected string Username;
    protected string Password;
    protected string Email;

    private void SignUpNewUser()
    {
        LoginManagerService.CreateNewUser(this.Username, this.Password, this.Email);
    }
}
